#!/bin/bash

# Make aliases work with sudo
alias sudo="sudo "

# git
alias gp='git pull'
alias gh='git push'
alias ghu='git push -u'
alias ghoh='ghu origin HEAD'
alias ga='git add'
alias gaa='git add -u'
alias gaaa='git add .'
alias gc='git commit'
alias gcm='git commit -m'
alias guc='git reset  HEAD~'
alias gca='git commit --amend'
alias gs='git status'
alias gco='git checkout'
alias gom='go master'
alias gd='git diff'
alias gddm='git diff master'
alias gdmm='git diff `git merge-base master $(git rev-parse --abbrev-ref HEAD)`'
alias gm='git merge'
alias gmm='git merge master'
alias ggrep='git grep'
alias gfind='git ls-files'
alias grl='git reflog'
alias grld='grl --date=iso'
alias gl='git log'

# Docker compose
alias dc='docker compose'
alias dcb='docker compose build'
alias dcu='docker compose up'
alias dcbu='docker compose up --build'

alias install='sudo apt install'
alias vi='nvim'
alias gistory='history | grep'
alias listory='history | less'
alias findme="find ./ -name"
alias clean~="find ./ -name \"*~\" -type f -delete"
alias cd..="cd .."
alias wifipass="nmcli device wifi show-password"
alias myip="hostname -I | awk '{print \$1}'"

# esp-idf
alias espi=". $HOME/Applications/esp-idf/export.sh"
alias esp="idf.py"
alias espb="idf.py build"
alias espbf="idf.py build flash"
alias espbfm="idf.py build flash monitor"
alias espfm="idf.py flash monitor"
alias espm="idf.py monitor"
alias espmc="idf.py menuconfig"

# Dotfiles managment
alias gitdf="/usr/bin/git --git-dir=$HOME/.dotfiles --work-tree ~"
